<!DOCTYPE html>
<html lang="en">
{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<head>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>{{title}}</title>
</head>
<body>
{% include 'navbar.html' %}

<main role="main" class="container homepage">
  <div class="jumbotron jumbotron-fluid" style='background-color:rgb(224, 224, 209); opacity:0.9;padding-top:60px; padding-bottom:40px;border: 20px; '>
    <center><h1>Welcome to InventWare</h1>
    <p class="lead">A solution to efficient Inventory Management</p>
    <a class="btn btn-lg btn-primary" href="/walkthrough" role="button" style='background-color:gray; margin:auto;';>Walkthrough &raquo;</a>
    </center>
  </div>
</main>
<footer class="bg-dark text-light position-absolute fixed-bottom">
  <p class="text-center py-2 my-0">
  Copyright &copy; 2020 | Created by-Shreya Singh
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>