body{
    background-image: url(https://i.pinimg.com/600x315/2d/94/6b/2d946b279100de27427e1a9779eae862.jpg);
    background-size: cover;
}

.table{
	font-size: 13px;
	text-align: center;
	width: 95%;
	margin: auto;
    text-align: center;
    font-size: 14px;
    border-color: black;
    box-shadow: 10px 10px 15px 6px #525658;
}

/*Make alternating colors for the table rows*/
.table tr:nth-child(odd){
	background: #dee4ee
}

.table tr:nth-child(even){
	background: #898e96
}

th {
  background-color: #24272c;
  color: white;
}

.header {
    font-family: helvetica;
    color: #0a1d2e;
    font-size: 50px;
    text-align: center;
    width: 100%;
    text-shadow: 4px 4px 4px #a19e9e;
    display: block;
    font-weight: bolder;
}

.header1{
    font-family: helvetica;
    color: #ebf4fa;
    font-size: 50px;
    text-align: center;
    width: 100%;
    text-shadow: 4px 4px 4px #111d30;
    display: block;
    font-weight: bolder;
}
.filter_btn{
    background-color: rgb(71, 79, 88);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    width:20%;
    color: whitesmoke;
    box-shadow: 1px 1px 4px 4px rgb(170, 169, 169);
    border-radius: 6px;
}

.enhance_form{
    background-color:rgb(199, 199, 199);
    padding-left: 20px;
    padding-top:5px;
    width:90%;
    border-radius: 10px;
}

.success{
    list-style: none;
    background-color: #10da3cec;
    color: white;
    box-shadow: 6px 6px 6px #a2a6a7;
    text-align: center;
}