body{
    background-color: #F1F0C0;
    background-size: cover;
}

.homepage {
    margin-top: 60px;
    background-image: url('https://img4.goodfon.com/wallpaper/nbig/5/6c/warehouse-equipment-goods-light-bulbs.jpg');
    padding: 4px;
}


.table{
	font-size: 13px;
	text-align: center;
	width: 95%;
	margin: auto;
    text-align: center;
    font-size: 14px;
    border-color: rgb(77, 77, 77);
    box-shadow: 8px 8px 12px 6px #525658;
}

/*Make alternating colors for the table rows*/
.table tr:nth-child(odd){
	background: #B7E5DD
}

.table tr:nth-child(even){
	background: #B1BCE6
}

.mybutton{
    width: 100%;
    background-color:#F1F0C0;
    box-shadow: 2px 2px 2px 2px #a68ead;
}

th {
  background-color: #24272c;
  color: white;
}

.header {
    font-family: helvetica;
    color: #9A86A4;
    font-size: 50px;
    text-align: center;
    width: 100%;
    text-shadow: 2px 2px 2px #2f2f2f;
    display: block;
    font-weight: bolder;
}

.header1{
    font-family: helvetica;
    color: #ebf4fa;
    font-size: 50px;
    text-align: center;
    width: 100%;
    display: block;
    font-weight: bolder;
}
.filter_btn{
    background-color: rgb(71, 79, 88);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    width:20%;
    color: whitesmoke;
    box-shadow: 1px 1px 4px 4px rgb(170, 169, 169);
    border-radius: 6px;
}

.success{
    list-style: none;
    background-color: #10da3cec;
    color: white;
    box-shadow: 6px 6px 6px #a2a6a7;
    text-align: center;
}

.enhance{
    border-radius: 4px;
    background-color:#B1BCE6;
}